html {
    background-color: black;
    text-align: center;
}

h1, p {
    font-family: 'Libre Baskerville', serif;
    color: white;
}

h1 {
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
}
